APP_PORT=3000
APP_HOST="http://localhost"
APP_NAME="Node Admin"
NODE_ENV=development

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=nodeadmin
DB_SYNCHRONIZE=false
DB_LOGGING=true

MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=false

REDIS_URL="redis://127.0.0.1:6379"

OSS_ACCESS_ID=
OSS_ACCESS_KEY=
OSS_BUCKET=

SESSION_SECRET=
JWT_SECRET=