APP_PORT=3000
APP_HOST="http://localhost"
APP_NAME="Express Admin"
NODE_ENV=development

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=12345678
DB_DATABASE=nodeadmin
DB_SYNCHRONIZE=false
DB_LOGGING=true

MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=319a210d2b19dd
MAIL_PASSWORD=5edeb414b52939
MAIL_SECURE=false

REDIS_URL="redis://127.0.0.1:6379"

OSS_ACCESS_ID=LTAI5tNuy8kq8XvqbPYpkbj6
OSS_ACCESS_KEY=H9baRi9T3Woe6FuEVVqXtZCZfx94uE
OSS_REGION=oss-ap-southeast-5
OSS_BUCKET=flaz-node-admin

SESSION_SECRET=34cab417400ec8860039d59b8557e01edff0583cb7014ed9577a405234844a54
JWT_SECRET=94966b17e62f4c94be57302820698c2271b29693d5f4eb56c1c0f16131e82158